.component__menu__title {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.component__menu__title h1 {
    margin-top: 5%;
    font-weight: 900;
    font-size: 3rem;
    font-family: sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}


.component__menu__title h1:hover {
    transition: all 500ms ease;
    color: #ad1e96;
}