.container__menu__bar {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border-bottom: 5px solid #EA80FC;
    background: #3C4042;
}

.container__menu__bar ul {
    display: flex;
    gap: 1rem;
}

.container__menu__bar   li {
    list-style-type: none;
}

.container__menu__bar   li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
}

.container__menu__bar   li a:hover {
    color: #d010f1;
    transition: all 400ms ease;
}